<div class="row-fluid">
  <div class="col-xs-12">
    <p class="center">
      <strong>{{total_platforms}}</strong> platforms and <strong>{{total_free_books}}</strong> books.
    </p>
  </div>
</div>
<div class="row-fluid">
  {{#each platforms}}
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        <a href="{{url}}" title="{{about}}">
          <img src="{{image}}" class="img-responsive img-rounded">
        </a>
        <div class="caption">
          <p class="center">
            <a href="{{url}}" title="{{about}}" class="btn btn-block btn-success">
              <i class="icon-book"></i>&nbsp;{{title}} ({{total_books}} books)
            </a>
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="row-fluid">
  <div class="col-xs-12">
    <p class="center">
      <strong>See also <a href="http://devfreecasts.org?utm_source=devfreebooks&utm_medium=medium&utm_campaign=DevFreeBooks" target="_blank" rel="me" title="a huge collection of free screencasts for devs.">DevFreeCasts</a>.</strong>
    </p>
  </div>
</div>